.mainpage {
  background-image: url("../image/bg.jpg");
  display: flex;
  height: 100%;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
section {
  flex: 1;
}
a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  color: white;
}

a:hover {
  text-decoration: none;
  color: var(--lightBlue);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 600;
  color: white;
}
h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: white;
}
.title-nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  color: white;
}
p {
  color: white;
}
label {
  color: white;
}
span {
  color: white;
}
.error {
  color: red;
}
button[type="submit"] {
  background-color: red;
  width: auto;
  border-radius: 12px;
  padding: 14px 20px;
  cursor: pointer;
  border: unset;
  color: white;
}
button[type="submit"]:hover {
  opacity: 0.6;
}
