p {
  font-size: 1.2rem;
}
.detailpage {
  padding: 15px;
  .detail-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    .name {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .image {
      width: 100%;
    }
  }
  .detail-right {
    display: flex;
    flex-direction: column;
    .selectSize,
    .selectCrust {
      display: flex;
    }
    .addtopping {
      display: block;
    }
    .size,
    .crust,
    .topping {
      margin-right: 30px;
    }
    .price {
      font-weight: bold;
      font-size: 1.5rem;
      font-style: italic;
      margin-bottom: 15px;
    }
    h4 {
      text-transform: capitalize;
    }
  }
}
.error {
  color: red;
}
