.detailpage {
  width: 100%;
  padding: 15px;
  .detail-left {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .detail-right {
    width: 60%;
    float: right;
    form {
      display: flex;
    }
    .select {
      margin-bottom: 30px;
      align-items: center;
    }
    .select > p {
      margin-right: 30px;
    }
  }
}
