.profile {
  text-align: center;
  margin: auto;
  color: white;
  height: 400px;

  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .user-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  h4 {
    font-style: italic;
    text-transform: capitalize;
  }
  label {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 5px 0px;
    margin: 5px 0px 15px;
    opacity: 0.8;
    border-radius: 8px;
  }
  // border: 1px solid gray;
}
// .tab-list {
//   border-bottom: 1px solid #ccc;
//   padding-left: 0;
// }

// .tab-list-item {
//   display: inline-block;
//   list-style: none;
//   margin-bottom: -1px;
//   padding: 0.5rem 0.75rem;
//   width: 50%;
// }

// .tab-list-active {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   border-width: 1px 1px 0 1px;
// }
// .tab-content {

// }
// .tabs {
//   margin-bottom: 15px;
// }
