.headerTop {
  width: 100%;
  height: 8vw;
  top: 0;
  left: 0;
  background-color: var(--mainBlue);
  position: fixed;
  display: flex;
  justify-content: space-around;
  color: var(--mainDark);
  align-items: center;
}
