.categoryitem {
  background-color: #3f3d3d;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  margin-bottom: 15px;
  position: relative;
  img {
    border: 1px solid unset;
    width: 100%;
    height: auto;
    max-height: 300px;
  }
  .category-title {
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    bottom: 0;
    left: 0;
    position: absolute;
    padding-left: 15px;
  }
}
