.listcategory {
  width: 100%;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .category-item {
    width: 45vw;
    min-height: 20vw;

    padding: 10px;
    position: relative;
    margin: auto;
    .category-image {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 5px;
      transition: 0.5s ease;
      backface-visibility: hidden;
      opacity: 1;
      border: 1px solid gray;
    }
    input[type="button"] {
      top: 50%;
      left: 50%;
      transform: (-50%, -50%);
      position: absolute;
      text-align: center;
      padding: 10px 20px;
      color: white;
      background-color: black;
      transition: 0.5 ease;
      opacity: 0;
      border: none;
      cursor: pointer;
      padding-right: 5%;
      border-radius: 12px;
    }
    input[type="button"]:hover {
      border: 1px solid white;
    }
    .category-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      top: 20%;
      left: 40%;
      align-self: center;

      position: absolute;

      color: white;
      font-weight: 900;
      text-shadow: 2px 0 0 black;
    }
  }

  .category-item:hover img {
    opacity: 0.3;
  }
  .category-item:hover input[type="button"] {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .listcategory {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .category-item {
      width: 100vw;
      height: 30vw;
      padding: 10px;
      .category-image {
        width: 100%;
        height: 100%;
        padding-right: 20px;
      }
      .category-title {
        font-size: 1rem;
      }
    }
  }
}
