.footer {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  color: white;
  margin-top: 15px;
  .footer-container {
    padding: 15px;
    display: flex;
    align-items: center;
    .footer-left {
      margin: 0;
      display: flex;
      align-items: center;
      li {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 0.5px solid white;

        a {
          color: white;
        }
      }
      li.last {
        border-right: none;
      }
    }
    .footer-right {
      color: white;
      display: flex;
      align-items: center;
      .footerphone {
        margin-right: 30px;
      }
      li {
        margin-right: 30px;
        padding: 5px;
        background-color: white;
        width: 30px;
        height: 30px;
        color: black;
        border-radius: 5px;
      }
      li:hover {
        color: blue;
        background-color: unset;
        border: 1px solid white;
      }
    }
  }
}
