footer {
  padding-left: 15px;
  padding-right: 15px;
  padding: 20px;
  text-align: center;
  display: flex;
  background-color: var(--mainBlue);
  height: 8vw;
  width: 100%;
  //   bottom: 0px;
  //   left: 0px;
  //   position: fixed;
}
